body {
  /*auto text font*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;

  /*auto colours*/
  color: #eee;
  background: #222;

  margin: 0em;
}

a {
  color: #6af;
}

a:hover {
  color: #8ef;
}

a:active {
  color: #37f;
}

#header {
  width: 100vw;
  height: 3.25em;

  position: absolute;

  top: 0;
  left: 0;

  display: inline;
}

#title {
  margin: 0.2em 1em 0 1em;  /*0.2em is sort of magic*/
  text-shadow: 2px 2px 4px black;
}

#content {
  width: 100vw;
  height: calc(100% - 3.25em);  /*magic number?*/

  position: absolute;

  bottom: 0;
}

#main-box {
  font-size: 1.5em;
  background-color: #555;
  padding: 1em;
  /*text-align: center;*/
}

/*Centers body text*/
#main-box-center {
  font-size: 1.5em;
  background-color: #555;
  padding: 1em;
  text-align: center;
}

.small-text {
  font-size: 0.7em;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /*bring your own prefixes*/
  transform: translate(-50%, -50%);
}

.centered-x {
  position: fixed;
  left: 50%;
  /*bring your own prefixes*/
  transform: translate(-50%, 0);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
