html * {
  /*sets basic text font*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  /*sets basic text color*/
  color: #eee;
}

body {
  /*sets the background image and makes it fill the entire screen*/
  background: url(cssResources/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  /*keeps the positioning of the elements the same at small screen sizes*/
  min-width: 960px;
  min-height: 480px;
}

#name {
  /*positions the name elements horizontally*/
  display: inline;
  /*moves the name to the top corner*/
  margin: auto;
  /*moves the name to the left*/
  float: left;
  /*stops the name from wraping around the screen or moving out of the screen*/
  white-space: nowrap;
  overflow: auto;
  /*sets the font size*/
  font-size: 4em;

  /*background-color: red;*/
}

#namekana {
  /*positions the name elements horizontally*/
  display: inline;
  /*centers the kana with the normal name*/
  position: relative;
  top: 0.3em;
  /*stops the name from wraping around the screen or moving out of the screen*/
  white-space: nowrap;
  overflow: auto;
  /*moves the name to the left*/
  float: left;
  /*makes margin smaller*/
  margin: auto;
  /*sets the font size*/
  font-size: 2.5em;

  /*background-color: green;*/
}

#titledesc {
  /*sets the font size and family*/
  font-size: 1.5em;
  font-family: Papyrus, "Brush Script MT", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /*positioning*/
  float: right;
  margin: 1em 0 0 0;
}

#navbar {
  /*keeps the list to the left*/
  float: left;
  /*keeps the list at the bottom corner*/
  margin: auto;
  /*stops the list items from wraping*/
  white-space: nowrap;
  overflow: auto;
  /*removes weird padding on the left*/
  padding-left: 0;
  /*moves element to the bottom*/
  position: absolute;
  top: 100%;
  transform: translateY(-100%);

  /*background-color: yellow;*/
}

#navbar * {
    /*positions elements horizontally*/
    display: inline;
    /*makes the button change cursor type when hovering*/
    cursor: pointer;
    /*sets the font size*/
    font-size: 2em;
    /*separates the elements horizontally*/
    padding: 0 0.1em 0 0.1em;
    /*background-color: pink;*/
}

#navbar *:hover {
  /*sets colour*/
  color: #ddd;
}

#navbar *:active {
  /*sets colour*/
  color: #999;
}

#curentlyactive {
  /*sets the font size*/
  font-size: 3em;
}

.linebutton {
  /*positioning*/
  margin: 0;
  /*makes the button change cursor type when hovering*/
  cursor: pointer;
  /*sets colours*/
  color: #eee;
  background-color: rgba(16, 16, 16, 0);
  /*sets the button size and border*/
  padding: 0.25em 1em 0.25em 1em;
  border: 0.08em solid #eee;
  border-radius: 0.2em;
  /*sets the font size*/
  font-size: 2em;
  /*stops the text from wraping*/
  white-space: nowrap;
}

.linebutton:hover {
  /*changes colours*/
  border: 0.08em solid #ddd;
  color: #ddd;
  background-color: rgba(16, 16, 16, 0.2);
}

.linebutton:hover > #image{
  /*changes colours*/
  #image.filter: invert(87%);
}

.linebutton:active {
  /*changes colours again*/
  border: 0.08em solid #999;
  color: #999;
  background-color: rgba(16, 16, 16, 0.3);
}

.linebutton:active > #image {
  /*changes colours again*/
  filter: invert(60%);
}

#image {
  display: flex;
  width: 2em;
  height: 2em;
  filter: invert(93%);
  transform: translateX(148%);
}

#bodywrapper {
    min-width: 8em; /*what does this do?*/
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /*bring your own prefixes*/
  transform: translate(-50%, -50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
