:root {
    /* TODO: pine blue for background */
    --front-hard: #e9efe9;
    --front-soft: #7e7f8e;
    --front-softer: #5a5e5a;
    --back: #2f3335;
    --back-darker: #131414;
    --black: #000000;
    --color1-high: #c3dd66;
    --color1-high-trans: #c3dd6641;
    --color1-high-trans2: #c3dd669a;
    --color1-mid: #87ce3c;
    --color1-mid-trans: #87ce3c41;
    --color1-low: #3f8d4c;
    --color1-low-trans: #3f8d4c41;
    --color2-high: #8af1c6;
    --color2-mid: #26d399;
    --color2-low: #2e8f6f;

    --header: "ASAP";

    /* Georgia, serif */
    /* -apple-system, BlinkMacSystemFont */
    /* "Alte Haas Grotesk 2" */
    --body: -apple-system,BlinkMacSystemFont,"Segoe UI",monospace;

    --a1: #5ba675;
    --a1-trans: #5ba67541;
    --a2: #6bc96c;
    --a2-trans: #6bc96c41;
    --a3: #abdd64;
    --a4: #fcef8d;

    --b1: #8465ec;
    --b1-trans: #8465ec41;
    --b2: #6d80fa;
    --b2-trans: #6d80fa41;
    --b3: #8db7ff;
    --b4: #aee2ff;

    /* -------- new --------- */
    --invisible: #ffffff00;
    --soft-blue-trans: #9dcdfc41;
    --soft-green-trans: #b3e99141;
    --soft-yellow-trans: #ffeda741;

    --space: #272736;
    --stars: #473b78;
    --white: #ffffeb;
    --soft-grey-2: #6d7a94;
    --soft-grey: #5a5e5a;
    --black: #010112;
    --soft-blue: #9dcdfc;
    --blue: #4da6ff;
    --dark-blue: #4b5bab;
    --dark-green: #345a3b;
    --green: #8fde5d;
    --light-green: #c3dd66;
    --soft-green: #b3e991;
    --yellow: #ffe478;
    --soft-yellow: #ffeda7;
    --orange: #f2a65e;
    --brown: #964253;

}