.move-down {
    margin-top: 1em;
}

.custom-title {
    margin-bottom: calc(var(--typography-spacing-vertical) / 2);
}

.custom-header {
    padding-bottom: calc(var(--block-spacing-vertical) / 4);
}

.custom-main {
    padding-top: calc(var(--block-spacing-vertical) / 4);
}

.close-margin {
    margin: calc(var(--typography-spacing-vertical) / 2) 0;
}

.svg-icon {
    width: 18px; height: 18px; 
    /*margin-top: 2px; margin-bottom: -2px;*/
}

.svg-logo {
    width: 72px; height: 72px; 
    margin-top: -10px; margin-bottom: 10px;
}

.short-button {
    padding: calc(var(--form-element-spacing-vertical) / 4) calc(var(--form-element-spacing-horizontal) / 2) !important;
}

.thin-article {
    padding: calc(var(--block-spacing-vertical) / 4) calc(var(--block-spacing-horizontal) / 2);
}

.thin-p {
    margin-bottom: calc(var(--typography-spacing-vertical) / 4);
}

.red {
    color: #f67;
}

.medium-text {
    font-size: 1rem;
    font-weight: 450;
}

.pixelart {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;           
    image-rendering: pixelated !important;  
    -ms-interpolation-mode: nearest-neighbor;  
}