/* 
    https://lospec.com/palette-list/cc-29 
    https://lospec.com/palette-list/mulfok32
*/

.red, red {
    color: #b45252;
}

.brightred, brightred {
    color: #cc425e;
}

.orange, orange {
    color: #d3a068;
}

.cyan, cyan {
    color: #68c2d3;
}

.blue, blue {
    color: #4b80ca;
}

.lightgreen {
    color: #c2d368;
}

.green, green {
    color: #8ab060;
}

.almostwhite, almostwhite {
    color: #f2f0e5;
}

.white, white {
    color: #fff;
}

/* ----- animations ----- */

#title > * {
    display: inline-block;
    position:relative; 
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out; 
}
#title:hover > span1 {
    transition-delay: 0.1s;
    transform: translate3d(1px, -8px, 0px);
    color: #8ab060;
    transition: transform 0.35s ease-in-out, color 0.5s ease-in-out; 
}
#title:hover > span2 {
    transition-delay: 0.05s;
    transform: translate3d(0px, -8px, 0px);
    color: #c2d368;
}
#title:hover > span3 {
    transition-delay: 0.15s;
    transform: translate3d(2px, -8px, 0px);
    color: #68c2d3;
}
#title:hover > span4 {
    transition-delay: 0.25s;
    transform: translate3d(3px, -8px, 0px);
    color: #d3a068;
}

a {
    transform-style: preserve-3d;
    display: inline-block;
    transition: transform 0.15s ease-out, color 0.15s ease-in-out;
}
a:hover {
    transform: translate3d(0, 1px, 0);
}

#circle {
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
    animation-play-state: running, paused;
}
#circle:hover {
    animation-play-state: paused;
}
#circle > div {
    position: absolute;
    transform-style: preserve-3d;
}
#circle > div > div {
    animation: un-spin 20s linear infinite;
}
#circle:hover > div > div {
    animation-play-state: paused;
}
@keyframes spin {
    from { transform: rotateZ(0turn); }
    to { transform: rotateZ(1turn); }
}
@keyframes un-spin {
    from { transform: rotateZ(0turn); }
    to { transform: rotateZ(-1turn); }
}

/* ---------- */

/* this CSS inspired by https://wren.io/ and http://journal.stuffwithstuff.com/ */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
}

body {
    color: #212123;
    background-color: #45444f;
    font: 16px/24px "PT Serif", Georgia, serif;
}

header {
    background-color: #fff;
    padding: 12px 48px 12px 48px;
}
header > h2 {
    color: #352b42;
}

article {
    background-color: #fff;
    padding: 12px 48px 12px 48px;
}
article ol, article ul {
    margin-left: 24px;
}

footer {
    background-color: #fff;
    padding: 12px 48px 12px 48px;
}

#info {
    font: 14px Georgia, serif;
    color: #4b80ca;
    border-bottom: solid 1px #4b80ca;
    margin-bottom: 8px;
    padding: 2px;
}

#column-container {
    margin: 0 auto;
    max-width: 950px;
    background-color: #b8b5b9;
    min-height: 100vh;
}

#posts {
    display: flex;
    flex-direction: column;
}
#posts > * {
    height: 100px;
    background-color: #ccc; 
    margin:10px;
}

.date-item {
    color: #4b80ca; 
    font-size: small; 
    float: right;
}

.tooltip {
    position: relative;
    cursor: pointer; 
}

.tooltip-text {
    visibility: hidden;
    width: 240px;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* ----- code block ----- */

code {
    font-family: monospace;
    font-size: inherit;
}

span > code,
p > code,
li > code,
dd > code,
td > code {
    background: #e5ceb4;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}

/* ----- simple stuff ----- */

p {
    padding: 8px 0;
}

h1 {
    /* from browser's h2 */
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: 0;

    padding: 24px 0 12px 0;
    font-weight: 700;
}

h2 {
    padding: 24px 0 12px 0;
    font-weight: 700;
    color: #a77b5b;
}

h3 {
    padding: 24px 0 12px 0;
    font-weight: 700;
}

/* links */
a {
    text-decoration: none;
    color: #4b80ca;
}
a:hover {
    color: #80493a;
}

/* ----- classes ----- */

.medium-text {
    font-size: 1rem;
    font-weight: 450;
}

.pixelart {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;           
    image-rendering: pixelated !important;  
    -ms-interpolation-mode: nearest-neighbor;  
}

.img-desc {
    margin: auto;
    text-align: center;
    color: #777;
    font-style: italic;
    font-size: 0.7em;
    font-family: monospace;
    padding: 0;
}