{% extends "layouts/base.html" %}

{% block title %} About Me {% endblock %}

{% block content %}
<article>
    <section style="display: flex; flex-direction: row; margin-top: -12px; justify-content: center;">
        <div
            id="circle"
            style="position: relative; display: block; width: calc(128px + 12px); height: calc(128px + 22px); cursor: pointer;"
            title="geb dev web dev"
        >
            <img src="/images/misc/simple-geb-transparent.png" style="width: calc(128px + 12px); height: calc(128px + 12px);">
        </div>

        <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: center; justify-content: center; margin-bottom: 16px; padding: 0 8px;">
            <h3 style="color: var(--soft-green);">Hi — ᕕ(ᐛ)ᕗ</h3>
            <div style="display: flex; align-items: center; margin-bottom: 8px; color: var(--soft-grey-2);">
                <b style="display: inline-block; flex-wrap: wrap; max-width: 100%; text-align: center;">
                    I'm <span style="color: var(--white);">Gabe</span>, and these are words you can't unread!
                </b>
            </div>
        </div>
    </section>
    
    <section>
        <p>
            Despite being a new graduate looking for work, I'm just having fun writing software at the moment. Below
            are some websites I like, and some other places you can find me.
        </p>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: center; gap: 10px; font-family: monospace;">
            <span style="color: var(--soft-green)">important_locations = </span>
            <a href="/resume">
                /resume
            </a>
            <a href="/portfolio">
                /portfolio
            </a>
        </div>
    </section>

    <div style="display: flex; flex-wrap: wrap; gap: 16px;">
        <div style="flex: 1;">
            <h2>Favourites</h2>
            <ul>
                <li>
                    <a href="https://wordsandbuttons.online/the_real_cpp_killers.html">The Real C++ Killers (Not You, Rust)</a>
                </li>
                <li>
                    <a href="https://inconvergent.net/2021/volumetric-light/">Volumetric Light (2021)</a>
                </li>
                <li>
                    <a href="https://news.ycombinator.com">Hacker News</a>
                </li>
                <li>
                    <a href="https://homepages.cwi.nl/~storm/teaching/reader/Dijkstra68.pdf">Go To Statement Considered Harmful</a>
                </li>
                <li>
                    <a href="https://graydon2.dreamwidth.org/193447.html">always bet on text</a>
                </li>
                <li>
                    <a href="https://cbarrete.com/move-from-scratch.html">C++ move semantics from scratch</a>
                </li>
            </ul>
        </div>
        <div>
            <h2>My Links</h2>
            <ul>
                <h3 style="font-size: 1em; margin: 0 0 8px -24px;">Game Dev</h3>
                <li>
                    <a href="https://earthensky.itch.io/">itch.io</a>
                </li>
                <li>
                    <a href="https://ldjam.com/users/earthensky/">Ludum Dare</a>
                </li>
                <li>
                    <a href="https://gamejolt.com/@EarthenSky/games">Game Jolt</a>
                </li>
                <h3 style="font-size: 1em; margin: 8px 0 8px -24px;">Computing</h3>
                <li>
                    <a href="https://github.com/EarthenSky">GitHub</a>
                </li>
                <h3 style="font-size: 1em; margin: 8px 0 8px -24px;">Music</h3>
                <li>
                    <a href="https://zechnition.newgrounds.com/">Newgrounds</a>
                </li>
                <li>
                    <a href="https://www.chipscompo.com/user/Zechnition">Chipscompo</a>
                </li>
            </ul>
        </div>
    </div>

    <p style="text-align: center; margin: 24px 0; color: var(--soft-grey-2);">
        --- more ---
    </p>

    <h2>Support <span style="color: var(--brown)">me</span></h2>

    <p style="margin-bottom: 16px;">
        Thanks for taking the time to look down here. If you're interested, please consider
        <span style="color: var(--soft-yellow)">wishlisting</span> or
        <span style="color: var(--soft-yellow)">buying</span> some of these games made by my friends instead!
    </p>

    <div style="position: relative; width: 100%; padding-top: calc(100px * 2);">
        <iframe
            src="https://store.steampowered.com/widget/2921630"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
            height="100"
            allowfullscreen
        ></iframe>
    </div>
    
    <div style="position: relative; width: 100%; padding-top: calc(100px * 2);">
        <iframe
            src="https://store.steampowered.com/widget/2332060"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
            height="100"
            allowfullscreen
        ></iframe>
    </div>

    <div style="position: relative; width: 100%; padding-top: calc(100px * 2);">
        <iframe
            src="https://store.steampowered.com/widget/3030870"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
            height="100"
            allowfullscreen
        ></iframe>
    </div>

    <div style="position: relative; width: 100%; padding-top: calc(100px * 2);">
        <iframe
            src="https://store.steampowered.com/widget/1368410"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
            height="100"
            allowfullscreen
        ></iframe>
    </div>
</article>
{% endblock content %}
