{% extends "layouts/base.html" %}

{% block style %}
<link rel="stylesheet" href="/style/blog.css?v0.00">
{% endblock style %}

{% block title %} blog {% endblock %}

{% block content %}
<article>
    <h2 style="padding: 0; margin: 0 0 24px 0;">Blog</h2>

    <div class="posts">
        <div class="blog-post-card">
            <div class="card-number">
                2025
            </div>
            <div class="card-contents">
                <a href="/blog/2025-hops">
                    Spring 2025 Hops
                </a>
                <span style="color: var(--front-softer)">
                    A photo blog growing hops for the first time!
                </span>
            </div>
        </div>

        <div class="blog-post-card">
            <div class="card-number">
                <span>June 9</span>
                2024
            </div>
            <div class="card-contents">
                <a href="/blog/slant-0/">
                    Slant [0]
                </a>
                <span style="color: var(--front-softer)">
                    Understanding and solving a wild game filled with slashes
                </span>
            </div>
        </div>

        <div class="blog-post-card">
            <div class="card-number">
                <span>July 20</span>
                2023
            </div>
            <div class="card-contents">
                <a href="/blog/many-pictures/">
                    Many Pictures
                </a>
                <span style="color: var(--front-softer)">
                    A screensaver website that uses Pixabay's public API to automagically scroll through images
                </span>
            </div>
        </div>
        <!--<p>Umbrella: Devlog 1 - <a href="">A new programming language called Umbrella</a> &nbsp;<em class="date-item">TBD</em></p>-->
    </div>
    <br>
</article>
{% endblock content %}