{% extends "layouts/base.html" %}

{% block style %}
{% endblock style %}

{% block title %} {{ section.title }} {% endblock %}

{% block content %}
<article>
    <div class="posts">
        <div 
            style="display: flex; flex-direction: row; font-weight: 400; font-size: 0.95em; color: var(--soft-grey-2); padding: 6px 0;"
        >
            <div style="margin-right: 6px;">Blog</div>

            <a href="/tags" class="grey-link" style="margin-left: auto;">search tags</a>

            <!-- TODO: implement this filter 
            <div style="margin-left: auto;">Filter:</div>
            <div class="filter-item" style="text-decoration: underline;">newest</div>
            <div class="filter-item">gardening</div>
            <div class="filter-item">math</div>
            <div class="filter-item">software</div>
            -->
        </div>

        {% for page in section.pages %}
        <a href="{{ page.permalink | safe }}" class="blog-card {% if loop.index == 1 %} filled {% else %} outline {% endif %}">
            <div>
                <h2 style="margin: 0;">{{ page.title }}</h2>
                <div>
                    <div>{{ page.date | date(format="%B %d, %Y") }}</div>
                    {% if page.taxonomies.tags %}
                    <div>
                        {% for tag in page.taxonomies.tags %}
                            {{ tag }}{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <span>{{ page.description }}</span>
        </a>
        {% endfor %}

        <!--<p>Umbrella: Devlog 1 - <a href="">A new programming language called Umbrella</a> &nbsp;<em class="date-item">TBD</em></p>-->
    </div>

</article>
{% endblock content %}