{% extends "layouts/base.html" %}

{% block title %} {{ section.title }} {% endblock %}

{% block style %}
<link rel="stylesheet" href="/style/who.css?v0.00">
{% endblock style %}

{% block content %}
<article>
    <section style="display: flex; flex-direction: row; margin-top: -12px; justify-content: center;">
        <div
            id="circle"
            style="position: relative; display: block; width: calc(128px + 12px); height: calc(128px + 2px); cursor: pointer;"
            title="geb dev web dev"
        >
            <img src="/images/misc/geb-trans-small.png" style="width: calc(128px + 12px); height: calc(128px + 2px); transform: scale(0.7);">
        </div>

        <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: center; justify-content: center; margin-bottom: 16px; padding: 0 8px;">
            <h3 style="font-weight: 900; margin: 0;">Hi — ᕕ(ᐛ)ᕗ</h3>
            <div style="display: flex; align-items: center; margin-bottom: 8px; color: var(--soft-grey-2);">
                <b style="display: inline-block; flex-wrap: wrap; max-width: 100%; text-align: center;">
                    I'm <span style="color: var(--white);">Gabe</span>, and I make all sorts of cool things!
                </b>
            </div>
        </div>
    </section>

    <section style="display: flex; flex-direction: column; justify-content: center; font-size: 1em;">
        <div class="posts">
            <div
                style="display: flex; flex-direction: row; font-weight: 400; font-size: 0.95em; color: var(--soft-grey-2); padding: 6px 0;"
            >
                <div style="margin-right: 6px;">Blog</div>

                <a href="/tags" class="grey-link" style="margin-left: auto;">search tags</a>

                <!-- TODO: implement this filter 
                <div style="margin-left: auto;">Filter:</div>
                <div class="filter-item" style="text-decoration: underline;">newest</div>
                <div class="filter-item">gardening</div>
                <div class="filter-item">math</div>
                <div class="filter-item">software</div>
                -->
            </div>

            {% set section = get_section(path="blog/_index.md") %}
            {% for page in section.pages %}
            <a href="{{ page.permalink | safe }}" class="blog-card {% if loop.index == 1 %} filled {% else %} outline {% endif %}">
                <div>
                    <h2>{{ page.title }}</h2>
                    <div>
                        <div>{{ page.date | date(format="%B %d, %Y") }}</div>
                        {% if page.taxonomies.tags %}
                        <div>
                            {% for tag in page.taxonomies.tags %}
                                {{ tag }}{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <span>{{ page.description }}</span>
            </a>
            {% endfor %}

            <!--<p>Umbrella: Devlog 1 - <a href="">A new programming language called Umbrella</a> &nbsp;<em class="date-item">TBD</em></p>-->
        </div>

        <div>
            <div style="color: var(--soft-grey-2); margin: 6px 0; font-weight: 400; font-size: 0.95em;">File Browser</div>
            <a class="file-browser-card" href="/gebby">
                <h3>Music</h3>
                <span>0 items</span>
            </a>
            <a class="file-browser-card" href="/photos">
                <h3>Photography</h3>
                <span>0 items</span>
            </a>
            <a class="file-browser-card" href="/pixel-art">
                <h3>Pixel Art</h3>
                <span>0 items</span>
            </a>
            <a class="file-browser-card" href="/baking">
                <h3>Baking</h3>
                <span>0 items</span>
            </a>
            <a class="file-browser-card" href="/brewing">
                <h3>Brewing</h3>
                <span>0 items</span>
            </a>
            <a class="file-browser-card" href="/growing">
                <h3>Growing</h3>
                <span>0 items</span>
            </a>
        </div>

        <div>
            <div style="color: var(--soft-grey-2); margin: 6px 0; font-weight: 400; font-size: 0.95em;">About me</div>

            <div style="
                background-color: var(--space);
                width: calc(100% - 16px * 2);
                padding: 15px;
                border-radius: 6px;
                margin-bottom: 16px;
                border: 1px solid var(--dark-green);
                display: flex;
                flex-direction: column;
            ">
                <div style="font-weight: 400; font-size: 1em; color: var(--soft-green);">
                    I'm having a lot of fun writing software at the moment. I've also got a fancy <a href="/resume">resume</a> and a <a href="/portfolio">portfolio</a>. The best place you can find me is on <a href="https://github.com/EarthenSky">GitHub</a>.
                </div>

                <a class="blue-link" href="/about" style="font-weight: 700; font-size: 1em; margin-left: auto;">
                    More About
                </a>
            </div>
        </div>
    </section>

    <section style="display: flex; flex-direction: row; justify-content: center; margin-top: 32px; margin-bottom: 8px; flex-wrap: wrap;">
        <a href="https://wiki.debian.org/InstallingDebianOn/Microsoft/Windows/SubsystemForLinux">
            <img class="badge" src="images/badge/powered-by-debian.gif">
        </a>
        <a href="https://en.wikipedia.org/wiki/Arizona_Beverage_Company#Drinks:~:text=variety%20of%20drinks%2C-,including%20iced%20teas,-%2C%20juice%20drinks">
            <img class="badge" src="images/badge/cakey.gif">
        </a>
        <a href="https://calmspace.neocities.org">
            <img class="badge" src="images/badge/calmspace.png">
        </a>
        <a href="https://www.blender.org/features/video-editing/">
            <img class="badge" src="images/badge/video_blender.gif">
        </a>
        <a href="https://gebdev.net">
            <img class="badge" src="images/badge/gebdev-3.gif">
        </a>
    </section>

</article>
{% endblock content %}

{% block scripts %}

<!-- TODO: remove this ... <script src="scripts/header_canvas.js"></script> -->

{% endblock scripts %}
