{% extends "layouts/base.html" %}

{% block title %} home {% endblock %}

{% block style %}
<link rel="stylesheet" href="/style/who.css?v0.00">
{% endblock style %}

{% block content %}
<article>
    <section style="display: flex; flex-direction: row; margin-top: -12px; justify-content: center;">
        <div
            id="circle"
            style="position: relative; display: block; width: calc(128px + 12px); height: calc(128px + 22px); cursor: pointer;"
            title="geb dev web dev"
        >
            <img src="/images/misc/simple-geb-transparent.png" style="width: calc(128px + 12px); height: calc(128px + 12px);">
        </div>

        <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: center; justify-content: center; margin-bottom: 16px; padding: 0 8px;">
            <h3>Hi — ᕕ(ᐛ)ᕗ</h3>
            <div style="display: flex; align-items: center; margin-bottom: 8px; color: var(--soft-grey-2);">
                <b style="display: inline-block; flex-wrap: wrap; max-width: 100%; text-align: center;">
                    I'm <span style="color: var(--white);">Gabe</span>, and I make all sorts of cool things!
                </b>
            </div>
        </div>
    </section>

    <section style="display: flex; flex-direction: row; justify-content: center; font-size: 1em;">
        <ul style="padding: 16px;">
            <li><a href="/blog">blog</a></li>
            <ul>
                <li><a href="/blog/2025-hops">spring 2025 hops</a></li>
                <li><a href="/blog/slant-0">slant[0]</a></li>
                <li><a href="/blog/many-pictures">many pictures</a></li>
            </ul>
        </ul>

        <ul style="padding: 16px">
            <li><a href="/art">art</a></li>
            <ul>
                <li><a href="/art">music</a></li>
                <li><a href="/art">photography</a></li>
                <li><a href="/art">pixel art</a></li>
            </ul>
        </ul>

        <ul style="padding: 16px">
            <li><a href="/resume">my resume</a></li>
            <li><a href="/portfolio">my portfolio</a></li>
            <ul>
                <li><a href="/portfolio#video-games">video games</a></li>
                <li><a href="/portfolio#web-dev">web dev</a></li>
            </ul>
        </ul>
    </section>

    <section style="display: flex; flex-direction: row; justify-content: center; margin-top: 16px;">
        <a href="https://wiki.debian.org/InstallingDebianOn/Microsoft/Windows/SubsystemForLinux">
            <img class="badge" src="images/badge/powered-by-debian.gif">
        </a>
        <a href="https://en.wikipedia.org/wiki/Arizona_Beverage_Company#Drinks:~:text=variety%20of%20drinks%2C-,including%20iced%20teas,-%2C%20juice%20drinks">
            <img class="badge" src="images/badge/cakey.gif">
        </a>
        <a href="https://calmspace.neocities.org">
            <img class="badge" src="images/badge/calmspace.png">
        </a>
        <a href="https://www.blender.org/features/video-editing/">
            <img class="badge" src="images/badge/video_blender.gif">
        </a>
        <a href="https://gebdev.net">
            <img class="badge" src="images/badge/gebdev-3.gif">
        </a>
    </section>

</article>
{% endblock content %}

{% block scripts %}

<!-- TODO: remove this ... <script src="scripts/header_canvas.js"></script> -->

{% endblock scripts %}
