{% extends "layouts/base.html" %}

{% block title %} projects {% endblock %}

{% block content %}
<article>
    <h2>Projects</h2>
    <p>Nothing here quite yet...</p>

    <h2>Bits & Bobs</h2>
    <ul>
        <li>
            <a href="/projects/many-pictures">Many Pictures</a>
            - A screensaver website that uses Pixabay's public API in order to automatically scroll through images
        </li>
    </ul>
    
    <h2>Paper Implementations</h2>
    <p>Nothing here quite yet...</p>

</article>
{% endblock content %}