{% extends "layouts/base.html" %}

{% block title %} things {% endblock %}

{% block content %}
<style>
    .starry-background {
        background-image: url('/images/misc/stars-bg.png');
        background-size: 300px;
        background-position: 50px 50px;
        background-repeat: repeat;
    }
    #file-browser {
        color: var(--soft-purple);
        font-size: 0.9em;
        margin: 12px 0;
    }

    .row {
        display: flex;
        flex-direction: row;
        /* TODO: align tags properly by adding required bottom-padding to angle bars // align-items: center;*/
    }

    .vertical-bar {
        margin-left: 10.5px;
        margin-right: 10.5px;
        width: 4px;
        height: 25px;

        background-color: var(--stars);
    }
    .horizontal-bar {
        margin-top: 10.5px;
        height: 4px;
        margin-bottom: 10.5px;
        
        width: 25px;

        background-color: var(--stars);
    }
    .space {
        width: 25px;
        height: 25px;
    }
    .angle-bar {
        margin-left: 10.5px;
        margin-right: 10.5px;
        width: 4px;
        height: calc(25px / 2 - 2px);

        background-color: var(--stars);
    }
    .angle-bar::after {
        content: "";
        position: absolute;

        margin-top: 10.5px;
        margin-bottom: 10.5px;
        height: 4px;
        width: calc(25px / 2 + 2px);

        background-color: var(--stars);
    }
    .t-bar {
        margin-left: 10.5px;
        margin-right: 10.5px;
        width: 4px;
        height: 100%;
        min-height: 25px;

        background-color: var(--stars);
    }
    .t-bar::after {
        content: "";
        position: absolute;

        margin-top: 10.5px;
        margin-bottom: 10.5px;
        height: 4px;
        width: calc(25px / 2 + 2px);

        background-color: var(--stars);
    }
    
    .text-item {
        display: inline;
        margin-left: 4px;
    }
    .text-item span {
        font-weight: 600;
        vertical-align: -1px;
    }

    .icon-item {
        display: inline;
        margin-left: 4px;
        width: 25px;
        height: 25px;
    }

    .music-item {
        cursor: pointer;
        overflow-x: hidden;
    }
    .music-text {
        display: inline-block;
        width: fit-content;

        text-wrap: nowrap;
        transition: transform 1s ease;
    }
    .music-item:hover .music-text {
        transform: translateX(
            min(84px - 100%, 0px)
        );
    }

    .tag {
        border-radius: 7px;
        transition: border-radius 0.2s ease;
    }
    .tag:hover {
        border-radius: 2px;
    }

    .image-item {
        cursor: pointer;
        border-color: var(--space);
        border-style: solid;
        transition: border-color 0.15s ease-out;
    }
    .image-item:hover {
        border-color: var(--stars);
    }

</style>
<article>
    <div class="starry-background" style="display: flex; flex-direction: column; height: 90px; width: 100%;">
        <div style="margin-left:auto; margin-top:auto; display:flex; align-items:center;">
            <!-- TODO: implement this music playing -->
            <!-- TODO: implement a little planet bouncing -->
            <h2 style="display: inline; font-family: var(--body); color: var(--stars-on-black); font-size: 1em; padding: 0;">
                geb's night time file browser
            </h2>
            <img style="cursor:pointer; filter: var(--stars-on-black-filter);" src="/icons/play.svg" height="25" width="25"/>
            <img style="cursor:pointer; filter: var(--stars-on-black-filter);" src="/icons/music.svg" height="25" width="25"/>
        </div>
    </div>

    <div id="file-browser">
        <!--<div class="row">
            <div class="t-bar"></div>
            <div class="text-item"><span>music</span></div>
        </div>
        <div class="row">
            <div class="vertical-bar"></div>
            <div class="angle-bar"></div>
            <div class="text-item">
                <span>albums</span>
            </div>
            <div class="icon-item">
                <img style="cursor:pointer; filter: var(--stars-on-black-filter);" src="/icons/folder.svg" height="25" width="25"/>
            </div>
        </div>
        <div class="row">
            <div class="t-bar"></div>
            <div class="text-item"><span>photography</span></div>
        </div>
        -->
        <div class="row">
            <div class="vertical-bar"></div>
        </div>
    </div>
</article>
{% endblock content %}

{% block scripts %}
<script defer src="/scripts/night_time_file_browser.js"></script>
{% endblock scripts %}
