#sub-box {
  width: 64em; 
  margin: 0em auto 0em auto;
  padding: 0.5em; 
  
  background: #666;
}

#main-box {
  font-size: 1.2em;
  padding: 0em; 

  background: #444;

  min-height: 100%;
}

.small-text {
  font-size: 0.9em;
}

.code-box {
  transform: scale(0.8, 0.8);
  margin-left: -4em;
  width: 48em;
}




        