{% extends "layouts/base.html" %}

{% block style %}
<link rel="stylesheet" href="/style/blog.css?v0.00">
{% endblock style %}

{% block title %} Spring 2025 Hops {% endblock %}

{% block content %}
<article class="smaller-column-container">
    <div style="display: flex; flex-direction: row;">
        <div style="color: var(--yellow); font-weight: 900; font-family: var(--header); font-size: 1.25em;">
            Spring 2025 Hops
        </div>
        <div style="color: var(--soft-blue); font-weight: 400; margin: auto 0 4px auto; font-size: 0.85em;">
            <em>A photo blog growing hops for the first time!</em>
        </div>
    </div>
    <hr style="border-color: var(--soft-blue-trans); margin-bottom: 18px; margin-top: 2px;">

    <div class="name"><a href="https://punjalab.wordpress.com/">Dr. Punja</a></div>
    <div class="left-bubble">
        <div class="text">
            BISC 373.pdf
        </div>
    </div>
    <div class="left-bubble">
        <div class="text">
            <div class="photos">
                <img src="/images/blog/2025-hops/bisc-373/slide1.png"></img>
                <img src="/images/blog/2025-hops/bisc-373/slide2.png"></img>
                <img src="/images/blog/2025-hops/bisc-373/slide3.png"></img>
                <img src="/images/blog/2025-hops/bisc-373/slide4.png"></img>
                <img src="/images/blog/2025-hops/bisc-373/slide5.png"></img>
            </div>
        </div>
    </div>

    <div class="name">Alex</div>
    <div class="left-bubble">
        <div class="text">I have space outside my house</div>
    </div>
    <div class="left-bubble">
        <div class="text">We should totally grow our own hops</div>
    </div>
    
    <div class="middle-text">
        <div>--- one month later ---</div>
    </div>
    
    <div class="right-bubble">
        <div class="text">Oh heck oh heck</div>
    </div>
    <div class="right-bubble">
        <div class="text">It's already hop season</div>
    </div>
    <div class="right-bubble">
        <div class="text">And they're almost out of pre-orders!</div>
    </div>

    <div class="middle-text">
        <div>--- April 3, 2025 ---</div>
    </div>

    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/hop-order.png" alt="hop order">
    </div>

    <div class="right-bubble">
        <div class="text">
            Ordered some rhizomes from a farm in the Okanogan!
        </div>
    </div>

    <div class="name">Alex</div>
    <div class="left-bubble">
        <div class="text">WOOOOOO</div>
    </div>

    <div class="middle-text">
        <div>--- April 28, 2025 ---</div>
    </div>

    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/rhizomes.jpg" alt="rhizomes">
    </div>
    <div class="right-bubble">
        <div class="text">Finally arrived!</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/potted.jpg" alt="potted">
    </div>
    <div class="right-bubble">
        <div class="text">And potted, with a bit of compost</div>
    </div>

    <div class="middle-text">
        <div>--- May 2, 2025 ---</div>
    </div>
    <div class="middle-text">
        <div style="font-size: 12px; margin-top: -16px;">(4 days later)</div>
    </div>

    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-0.jpg" alt="nugget hop 0">
    </div>

    <div class="name">Alex</div>
    <div class="left-bubble">
        <div class="text">HOP?????</div>
    </div>

    <div class="middle-text">
        <div>--- May 3, 2025 ---</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-1.jpg" alt="nugget hop 1">
    </div>

    <div class="middle-text">
        <div>--- May 4, 2025 ---</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-2.jpg" alt="nugget hop 2">
    </div>

    <div class="name">Sean</div>
    <div class="left-bubble">
        <div class="text">Hoppu</div>
    </div>

    <div class="right-bubble">
        <div class="text">nugget</div>
    </div>

    <div class="name">Sean</div>
    <div class="left-bubble">
        <div class="text">Is that its name?</div>
    </div>

    <div class="right-bubble">
        <div class="text">Nope, it's the genre of hop</div>
    </div>
    <div class="right-bubble">
        <div class="text">But I didn't think about what to name them!!</div>
    </div>

    <div class="name">Sean</div>
    <div class="left-bubble">
        <div class="text">What will u name it then :3</div>
    </div>

    <div class="right-bubble">
        <div class="text">hmmmm....</div>
    </div>

    <div class="middle-text">
        <div>--- May 6, 2025 ---</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-3.jpg" alt="nugget hop 3">
    </div>
    <div class="right-bubble">
        <div class="text">I've decided to name the Nugget Hop <a href="https://www.nuget.org/">NuGet</a>!</div>
    </div>
    <div class="right-bubble">
        <div class="text">They're doing the best so far</div>
    </div>

    <div class="name">Darren</div>
    <div class="left-bubble">
        <div class="text">Why would you name your plant after an abomination?</div>
    </div>

    <div class="right-bubble">
        <div class="text">:)</div>
    </div>

    <div class="middle-text">
        <div>--- May 7, 2025 ---</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-4.jpg" alt="nugget hop 4">
    </div>
    <div class="right-bubble">
        <div class="text">Another NuGet update</div>
    </div>

    <div class="name">Alex</div>
    <div class="left-bubble">
        <div class="text">Wow that guy's growing lol</div>
    </div>

    <div class="middle-text">
        <div>--- May 10, 2025 ---</div>
    </div>
    <div class="right-photo-bubble">
        <img src="/images/blog/2025-hops/nugget-5.jpg" alt="nugget hop 5">
    </div>

</article>
{% endblock content %}
