{% extends "layouts/base.html" %}

{% block title %} who {% endblock %}

{% block content %}
<article>
    <div style="display: flex; padding: 24px 0 12px 0;">
        <h2 style="padding: 0;">Slant ( 1 / ? )</h2>
        <div style="font-size: 14px; color: var(--color1-mid); display: flex; align-items: end; margin-left: auto;">
            <span> written <a style="text-decoration: underline;" href="">Jun 9th, 2024</a> |</span>
        </div>
        <div style="font-size: 14px;  display: flex; align-items: end; margin-left: 0.2rem;">
            <a style="text-decoration: underline;" href="/">by Gabe</a>
        </div>
    </div>

    <p>
        <a href="https://en.wikipedia.org/wiki/Gokigen_Naname">Slant</a> is an awesome but underrated game that you can 
        play <a href="https://www.chiark.greenend.org.uk/~sgtatham/puzzles/js/slant.html">here</a> if you're interested. Made by the same 
        <a href="https://en.wikipedia.org/wiki/Nikoli_(publisher)">puzzle company</a> as sudoku, the rules for slant are as follows:
    </p>
    
    <blockquote>
        Fill in a diagonal line (a slant) in every grid tile so that there are no loops in the grid, and so that every numbered point has that 
        many lines meeting at it.
    </blockquote>
    
    <p>
        I like to think that slant is a <em><a href="https://www.gamedeveloper.com/design/juicy-a-useful-game-design-term-">superior puzzle</a></em> when compared against 
        something like sudoku, as it's easy to get into and requires many actions. More actions means more satisfying feedback! Thinking about how fun slant is begs
        an interesting question, how hard is it? It might be as hard as sudoku (<a href="https://en.wikipedia.org/wiki/NP-completeness">NP complete</a>), 
        or it might be much easier (polynomial time).

        <br> <br>

        This is the first post in a series about slant, where our goal is analyzing the game, figuring out how challenging it is, and learning how 
        to solve these puzzles efficiently.
    </p>
    
    <br>
    <div style="background-color: var(--back-darker); padding: 16px; border-radius: 6px;">
        <label>Table of Contents</label>
        <ul>
            <li><a href="#intro-to-rules">A. Intro to Rules</a></li>
            <li><a href="#brute-forcing-slant">B. Brute Forcing Slant</a></li>
            <li><a href="#next-time">C. Next Time</a></li>
        </ul>
    </div>

    <br> <br>
    <h3 id="intro-to-rules">A. Intro to Rules</h3>

    <div style="display: flex; align-items: center;">
        <p style="width: 60%;">
            As you start playing slant, you'll notice a few <b>simple rules</b> you can take advantage of.
            Often, it's possible to prove a tile must contain either a left or right slant.

            <br> <br>

            One common example is the following 3x3 grid, where two (1) numbered
            points are adjacent. If any of the slants were flipped to be touching either (1), it would result in a inconsistent state, 
            where more than two lines must be touching the other (1)!
        </p>
        <monospace style="width: calc(40% - 1rem); height: calc(40% - 1rem); margin-left: 1rem;">
-------------
|   | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> |
--  +  (1) --
|   |   |   |
--  +  (1) --
|   | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> |
-------------
        </monospace>
    </div>

    <br> <br>
    <h3 id="brute-forcing-slant">B. Brute Forcing Slant</h3>

    <p>
        Our first goal is to solve slant at all, which we'll do by applying rules. Each rules help us fill in tiles, so <b>let's figure out as many rules as possible</b>! 
        One way to figure out some new rules is to check every configuration of slants around a set of numbered points. If every valid configuration 
        has the same slant in a grid tile, then that slant can be inferred. In our example above, all the green slants have to be there, otherwise one
        of the puzzle rules will be broken.

        <br> <br>

        A 3x3 grid can contain 4 numbered points in the middle 2x2 locations. In addition, there are only 4 non-trivial kinds of numbered points: 
        (1), (2), (3), and empty (or no-constraint). This means there are <b>256 unique permutations</b> of numbered points. However, since all 
        slant rules are actually the same rule if rotated and/or flipped, there are actually only <b>55 unique combinations</b>, and that's not even
        taking into account the underlying rules.

        <br> <br>

        We start by checking every possible permutation of slants that files the 3x3 grid for a combination of 4 numbered points. Each permutation 
        of slants will either solve the puzzle or break one of the rules, leaving it inconsistent. If there are <b>no valid solutions</b> for a set of numbered 
        points, then that puzzle is unsolvable. Going through all combinations, and taking into account rotational 
        symmetry, we find only 4 2x2 patterns which are not solvable.
    </p>

    <p>
        If you're playing a valid slant puzzle, you'll never see the following combinations.
    </p>

    <br>
    <monospace>
------------- ------------- ------------- -------------
|   |   |   | |   |   |   | |   |   |   | |   |   |   |
-- (1) (1) -- -- (1) (1) -- -- (2) (3) -- -- (3) (3) --
|   |   |   | |   |   |   | |   |   |   | |   |   |   |
-- (1) (1) -- -- (1) (2) -- -- (3) (3) -- -- (3) (3) --
|   |   |   | |   |   |   | |   |   |   | |   |   |   |
------------- ------------- ------------- -------------
    </monospace>
    <br>

    <p>
        Next, if a combination of 4 numbered points has <b>multiple solutions</b>, we can look through them all and see if there are any diagonals which stay 
        the same the same throughout every pattern.

        <br> <br>

        The following <b>22</b> patterns are those which have at least one solution & imply a slant can be placed. 
    </p>
    
    <br>
    <monospace>
------------- ------------- ------------- -------------
|   |   |   | |   |   |   | |   |   |   | |   | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> |
--  +   +  -- --  +   +  -- --  +  (1) -- --  +  (1) --
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | |   | <span style="color: var(--color1-high)">\</span> |   | | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> |
-- (1) (1) -- -- (3) (3) -- -- (1)  +  -- -- (1) (1) --
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | |   |   |   | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> |
------------- ------------- ------------- -------------

------------- ------------- ------------- -------------
|   |   |   | |   |   |   | |   | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> | |   | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> |
--  +  (1) -- --  +  (1) -- --  +  (1) -- --  +  (1) --
|   | <span style="color: var(--color1-high)">\</span> |   | |   | <span style="color: var(--color1-high)">\</span> |   | |   |   |   | |   |   |   |
-- (1) (2) -- -- (1) (3) -- -- (2) (1) -- -- (3) (1) --
|   |   |   | |   |   |   | |   | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> | |   | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> |
------------- ------------- ------------- -------------

------------- ------------- ------------- -------------
|   |   |   | |   |   |   | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> |
--  +  (1) -- --  +  (2) -- --  +  (3) -- -- (1) (1) --
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> |
-- (3) (3) -- -- (3) (3) -- -- (3) (3) -- -- (1) (3) --
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">/</span> |
------------- ------------- ------------- -------------

------------- ------------- ------------- -------------
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> |
-- (1) (1) -- -- (1) (1) -- -- (1) (1) -- -- (1) (2) --
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | |   | <span style="color: var(--color1-high)">/</span> |   |
-- (2) (2) -- -- (2) (3) -- -- (3) (3) -- -- (2) (1) --
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | |   |   |   | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |
------------- ------------- ------------- -------------

------------- ------------- ------------- -------------
|   |   |   | |   |   |   | |   |   |   | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> |
-- (1) (2) -- -- (1) (2) -- -- (1) (3) -- -- (1) (3) --
|   | <span style="color: var(--color1-high)">/</span> |   | | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> | |   | <span style="color: var(--color1-high)">/</span> |   | | <span style="color: var(--color1-high)">\</span> | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">/</span> |
-- (3) (1) -- -- (3) (3) -- -- (3) (1) -- -- (3) (3) --
|   |   |   | | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> | |   |   |   | | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">/</span> | <span style="color: var(--color1-high)">\</span> |
------------- ------------- ------------- -------------

-------------
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |
-- (2) (2) --
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |
-- (3) (3) --
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> |
-------------

-------------
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |
-- (2) (3) --
|   |   |   |
-- (3) (2) --
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> |
-------------
    </monospace>
    <br>

    <p>
        Most of these patterns are ones which are easy to figure out yourself, most notably the ones involving orthogonal (1)s or (3)s. 
        However, there were two rules I didn't know about before! These rules didn't exist in any of the few sites in which I 
        could find slant strategies or deductions. 
        
        <br> <br>

        So they're probably brand new!
    </p>

    <br>

    <monospace>
-------------   -------------
| <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> |
-- (2) (3) --   -- (2) (1) --
|   |   |   |   |   | <span style="color: var(--color1-high)">\</span> |   |
-- (3) (2) --   -- (1) (2) --
| <span style="color: var(--color1-high)">/</span> |   | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">\</span> |   | <span style="color: var(--color1-high)">/</span> |
-------------   -------------
    </monospace>

    <br>

    <p>
        These rules appear to be different from all the others, being the result of unique interactions caused by the (2)s propagating changes of the (1)s and (3)s. 
        Placing the opposite slant in any of the corner tiles would result in a contradiction. In addition, like most rules we see a form of inverse symmetry 
        between the (1)s and (3)s.

        <br> <br>

        However, the diagonals touching the (2)s are an interesting case. The only way to learn these rules naturally is to place a multiple slants and observe 
        that all cases, would result in a contradiction contradiction. The other rules we've figured out before now only require placing one slant and immediately 
        noticing a contradiction follows.

        <br> <br>

        This realization begs a few questions
        
        <blockquote>
            Are there more rules that require more slants to be placed down?
        </blockquote>

        <blockquote>
            Could we logically derive this rule without brute forcing?
        </blockquote>

        <blockquote>
            Are there rules that we can't find efficiently without brute forcing?
        </blockquote>

        Or even
                            
        <blockquote>
            What's the most efficient way to solve slant puzzles?
        </blockquote>

    </p>

    <br>
    <h3 id="next-time">C. Next Time</h3>

    <p>
        Next time, we'll extend our simple pattern finder from before and construct a pattern database for automated solving of puzzles. Using this
        automated solver, we can begin to dive into the complexity of slant and answer some of these questions.

        <br> <br>

        In the future, I want to spend some time figuring out if slant is really NP complete, how to design the hardest puzzles, and 
        how to use deduction to learn slant rules instead of brute force.

        <br> <br>

        Slant is mathematically interesting, and it'll work as a great punching bag to learn when to apply techniques from different fields or not!
    </p>

    <br> <br> 
    <hr>

    <p>
        <span style="color: var(--front-soft)">The next article in this series is not out yet!
        <a style="float: right;" href="https://gebdev.net" data-tooltip="the main page">back to home</a>
    </p>

    <br> 

</article>
{% endblock content %}