{% extends "layouts/base.html" %}

{% block title %} Stocks Sim {% endblock %}

{% block content %}
<article>
    <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
        <h2 style="padding: 0;">
            Stocks Sim
        </h2>
        <div style="font-family: 'Lato', sans-serif; font-weight: 600; font-size: 0.85em; margin-left: auto; text-align: right; line-height: 1.1;">
            <em style="color: var(--color1-low)">written Feb, 2025</em>
            <br>
            <em style="color: var(--color1-low)">game, unity</em>
        </div>
    </div>

    <div>
        <img style="width: 100%; border-radius: 16px;" src="/images/blog/stocks-sim/screenshot.png"></img>
    </div>

    <div style="margin-top: 8px;">
        <p>
            Buy low and sell high in this chaotic stock simulation! Made with Unity, in 2015.
        </p>

        <p>
            Stocks are not simply random, but stochastically change between several different patterns, so players can eventually
            discover and take advantage of them. 

            Originally, this game was made as a tool to help with world building. I was writing the history for a set of
            worlds called "Terre" and "Thargon", which is why these names appear in the game.
        </p>

        <p>
            <a href="https://www.newgrounds.com/projects/games/914929/preview">» play here</a>
        </p>
    </div>
    <br>

</article>
{% endblock content %}
