<!doctype html>

<html lang="en" data-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style/colours.css?v0.01">
        <link rel="stylesheet" href="/style/main.css?v0.04">
        <link rel="stylesheet" href="/style/projects.css?v0.01">
        <link rel="stylesheet" href="/style/widgets.css?v0.01">

        {% block style %} {% endblock %}

        <link rel="icon" type="image/x-icon" href="/images/main.ico">
        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        <div id="column-container">
            <header>
                <div style="display: flex; justify-content: space-between; align-items: start;">
                    <a href="/">
                        <b>gebdev.net</b>
                    </a>
                    <div id="nav-menu">
                        <span><a href="/blog" title="words"><b>blog</b></a></span>
                        <span>| <a href="/art" title="<3"><b>♪ art</b></a></span>
                        <span>| <a href="/resume" title="💼"><b>resume</b></a></span>
                        <span>| <a href="/about" title="hi"><b>about</b></a></span>
                    </div>
                </div>
            </header>

            {% block pre_content %} {% endblock %}

            {% block content %} {% endblock %}

            <footer style="color: var(--soft-grey-2);">
                <p style="padding: 0;">▲◐◇</p> <!-- 🎝 -->
                <p style="margin-bottom: 48px;">
                    <em id="after-selected-color" style="padding: 0;">
                        a starry night sky
                    </em>
                </p>
            </footer>
        </div>
    </body>

    <!-- TODO: simplify this ... <script src="scripts/colours.js"></script> -->

    {% block scripts %} {% endblock %}

</html>