<!doctype html>

<html lang="en" data-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style/widgets.css?v0.00">
        <link rel="stylesheet" href="/style/common.css?v0.00">
        <link rel="stylesheet" href="/style/main.css?v0.01">

        {% block style %} {% endblock %}

        <link rel="icon" type="image/x-icon" href="/images/main.ico">
        <title>gebdev.net {% block title %} {% endblock %}</title>
    </head>

    <body>
        <div id="column-container">
            <header>
                <div style="display: flex; justify-content: space-between; align-items: start;">
                    <a href="/">
                        <h1 id="title" style="margin-right: 8px; align-self: stretch;">
                            <span1>geb</span1> <span2>dev</span2> <span3>.</span3> <span4>net</span4>
                        </h1>
                    </a>
                    <div id="nav-menu">
                        <span><a href="/" data-tooltip="the main page"><b>hello</b></a></span>
                        <span>| <a href="/blog" title="ranting"><b>blog</b></a></span>
                        <span>| <a href="/art" title="<3"><b>♪ art</b></a></span>
                        <span>| <a href="/about"><b>about</b></a></span>
                        <span>| <a href="/resume" title="💼"><b>resume</b></a></span>
                        <span>| <a href="https://github.com/EarthenSky" target="_blank" rel="noopener noreferrer" title="you know... 'the place'"><b>github</b></a></span>
                    </div>
                </div>
            </header>

            {% block pre_content %} {% endblock %}

            {% block content %} {% endblock %}

            <footer>
                <p style="padding: 0;">▲◐◇</p> <!-- 🎝 -->
                <p>
                    selected palette: 
                    <a id="select-forest" title="swaying of trees">
                        <span class="progress-bar"></span>
                        forest
                    </a>
                    <!-- <a id="select-amber">amber</a> | -->
                    <!-- <a id="select-ocean" title="a slight salty taste">
                        <span class="progress-bar"></span>
                        ocean
                    </a> -->
                    <!--<a id="select-golden">golden</a> | -->
                    <!--<a id="select-taiji">taiji</a> -->
                </p>
                <em id="after-selected-color" style="padding: 0; color: var(--front-softer);">
                    swaying of trees
                </em>
                <!-- <p>© 2024</p> -->

                <br> <br> <br>
            </footer>
        </div>
    </body>

    <!-- TODO: simplify this ... <script src="scripts/colours.js"></script> -->

    {% block scripts %} {% endblock %}

</html>