body {
  background: black;
  font-family: "consolas", monospace;
  color: white;
  white-space: nowrap;
  display: block;
  font-size: 1.5em;
}

.inverted {
  background: black;
  color: white;
  font-size: 1em; /*for buttons*/
  padding: 0.2em 0.6em 0.2em 0.6em; /*this*/
}

.margined {
  margin: 6px;
}

#screenObjects {
  position: absolute;
}

#face {
  float: left;
}

#txt {
  float: left;
  clear: left;

  margin-top: 0;
}

#ui {
  float: left;
  clear: left;
}

#gameWindow {
  float: left;
  clear: left;
}

#gameWindowTxt {
  float: left;
  clear: left;
}

#mapWindow {
  float: left;
  clear: left;
}
