/* ----- new defaults ----- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ----- simple stuff ----- */

body {
    color: var(--front-hard);
    background-color: /*black;*/ var(--back-darker);
    
    font: 18px/1.4 var(--body);
}

p {
    padding: 8px 0;
}

p, blockquote {
    hyphens: auto;
}

h1 {
    /* from browser's h2 */
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: 0;
}

h2 {
    padding: 24px 0 12px 0;

    font: 28px/1.25 var(--header);
    font-weight: 700;
    
    color: var(--color1-high) /*#b6d53c*/ ;
}

h3 {
    /*padding: 24px 0 12px 0;*/
    padding: 0;
    
    font: 24px/1.25 var(--header);
    font-weight: 700;

    color: var(--color1-high);
}

a {
    text-decoration: none;
    color: var(--color1-mid);
    
    display: inline-block;
    text-decoration: underline solid transparent;
    transition: color 0.05s ease-in-out, text-decoration 0.05s ease;

    /*border-bottom: solid 1px #71aa34;*/
}
a:hover {
    color: var(--color2-low);
}

hr {
    border-color: var(--front-soft);
}

/* ----- code blocks ----- */

code {
    font-family: monospace;
    font-size: inherit;
}

span > code,
p > code,
li > code,
dd > code,
td > code {
    background: #000;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}