/* this CSS inspired by https://wren.io/ and http://journal.stuffwithstuff.com/ and https://artemis.sh/ */

:root {
    /* TODO: pine blue for background */
    --front-hard: #e9efe9;
    --front-soft: #8b8f8b;
    --back: #2f3335;
    --color1-high: #c3dd66;
    --color1-mid: #87ce3c;
    --color1-low: #3f8d4c;
    --color2-high: #8af1c6;
    --color2-mid: #26d399;
    --color2-low: #2e8f6f;

    --header: "ASAP";

    /* Georgia, serif */
    /* -apple-system, BlinkMacSystemFont */
    /* "Alte Haas Grotesk 2" */
    --body: "Segoe UI","Open Sans",sans-serif;
}

#select-forest, #select-amber, #select-ocean, #select-golden, #select-taiji {
    cursor: pointer;
}
#select-forest:active, #select-amber:active, #select-ocean:active, #select-golden:active, #select-taiji:active {
    color: var(--color2-mid);
}

#select-forest > .progress-bar, #select-ocean > .progress-bar {
    display: block;
    background: var(--color1-mid);
    width: 0%;
    height: 1px;
    margin-bottom: 1px;

    transition: background 0.15s ease-in-out;
}
#select-forest:hover > .progress-bar, #select-ocean:hover > .progress-bar {
    background: var(--color2-low);
}
#select-forest:active > .progress-bar, #select-ocean:active > .progress-bar {
    background: var(--color2-mid);
    transform: translateY(1px);
}

/* ----- new defaults ----- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ----- simple stuff ----- */

body {
    color: var(--front-hard);
    background-color: /*black;*/ var(--back);
    
    font: 19px/1.5 var(--body);
}

p {
    padding: 8px 0;
}

h1 {
    /* from browser's h2 */
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: 0;
}

h2 {
    padding: 24px 0 12px 0;

    font: 28px/1.25 var(--header);
    font-weight: 700;
    
    color: var(--color1-high) /*#b6d53c*/ ;
}

h3 {
    padding: 24px 0 12px 0;
    
    font: 24px/1.25 var(--header);
    font-weight: 700;

    color: var(--color1-high);
}

a {
    text-decoration: none;
    color: var(--color1-mid);
    
    display: inline-block;
    text-decoration: underline solid transparent;
    transition: color 0.05s ease-in-out, text-decoration 0.05s ease;

    /*border-bottom: solid 1px #71aa34;*/
}
a:hover {
    color: var(--color2-low);
}

hr {
    border-color: var(--front-soft);
}

/* ----- custom tags & stuff ----- */

header {
    padding: 44px 60px 24px 60px;
}
article {
    padding: 12px 60px 12px 60px;
}
article ol, article ul {
    margin-left: 24px;
}
footer {
    padding: 12px 50px 12px 50px;

    text-align: center; 
    font-size: small;
    line-height: 0.9;

    color: var(--front-soft);
}

#info {
    font-size: 14px;
    border-bottom: solid 1px var(--color1-mid);
    margin-bottom: 8px;
    padding: 2px;
}

#column-container {
    margin: 0 auto;
    max-width: 820px;
    min-height: 100vh;
    background-color: var(--back); /* darkslategrey; */ 
}

.posts {
    display: flex;
    flex-direction: column;
}
.posts > * { }

.date-item {
    color: var(--color1-low); 
    font-size: small; 
    float: right;
}

.tooltip {
    position: relative;
    cursor: pointer; 
}
.tooltip-text {
    visibility: hidden;
    width: 240px;
    color: var(--front-hard);
    background-color: var(--back);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* ----- code blocks ----- */

code {
    font-family: monospace;
    font-size: inherit;
}

span > code,
p > code,
li > code,
dd > code,
td > code {
    background: #000;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}

/* ----- misc ----- */

.medium-text {
    font-size: 1rem;
    font-weight: 450;
}

.pixelart {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;           
    image-rendering: pixelated !important;  
    -ms-interpolation-mode: nearest-neighbor;  
}

.img-desc {
    margin: auto;
    text-align: center;
    color: var(--front-soft);
    font-style: italic;
    font-size: 0.7em;
    font-family: monospace;
    padding: 0;
}

/* ----- animations ----- */

#title {
    display: inline-block;
    align-self: flex-end;

    font: 28px/1.25 var(--header);
    font-weight: 700;

    padding: 0;
    /* margin-top: 4px; */
    /* margin-bottom: -4px; */
}

#title > * {
    display: inline-block;
    position: relative; 
    transform-style: preserve-3d;
    transition: transform 0.45s ease-in-out, color 0.45s ease-in-out; 
}
#title:hover > span1 {
    transition-delay: 0.05s;
    transform: translate3d(6px, 0, 0);
    color: var(--color1-high);
    transition: transform 0.4s ease-in-out, color 0.45s ease-in-out; 
}
#title:hover > span2 {
    transition-delay: 0.015s;
    transform: translate3d(8px, 0, 0);
    color: var(--color2-low);
}
#title:hover > span3 {
    transition-delay: 0.075s;
    transform: translate3d(10px, 0, 0);
    color: var(--color2-high);
}
#title:hover > span4 {
    transition-delay: 0.025s;
    transform: translate3d(12px, 0, 0);
    color: var(--color2-low);
}

/* ----- fonts ----- */

/* Todo: bind Segoe UI */
