.red {
    color: #eb564b;
}

.orange {
    color: #f2a65e;
}

.green {
    color: #8fde5d;
}

.dark-green {
    color: #3ca370;
}

.blue {
    color: #00aaff;
}

.teal {
    color: #22b9a0;
}

.yellow {
    color: #ffe478;
}

.pink {
    color: #ff6b97;
}

.grey {
    color: #aeaeb8;
}
